In [1]:
#imports
import pandas as pd
from pathlib import Path

In [2]:
#import csv file
df = pd.read_csv(Path("./start-up_success.csv"))
df

      Financial Performance  Industry Health  Firm Category
0                 -2.761650        -2.414516              0
1                  2.867162         1.989524              1
2                 -0.701230        -1.074845              0
3                 -3.516214        -1.928217              0
4                 -0.981901        -2.798853              0
...                     ...              ...            ...
1319              -2.458081        -3.319800              0
1320              -2.261200        -3.074141              0
1321              -0.959020        -2.249914              0
1322              -1.101270        -1.755786              0
1323              -1.884010        -0.385503              0

[1324 rows x 3 columns]

# Create Training Dataset

In [ ]:
from sklearn.model_selection import train_test_split

In [4]:
#split training and testing sets
#create X, or features DF
features = df[['Financial Performance', 'Industry Health']]

In [5]:
#create Y, or target DF
target = df['Firm Category']

In [7]:
# Use train_tes_split to seperate the data
training_features, testing_features, training_targets, testing_targets = train_test_split(features, target)

In [8]:
training_features.head()

      Financial Performance  Industry Health
399               -2.500274        -2.475074
1308              -0.460948        -2.484785
504               -1.706934        -2.835672
312               -1.689812        -2.283839
178                2.302264         2.984239

# Create a Model

In [10]:
# Import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

In [11]:
logistic_regression_model = LogisticRegression()

In [13]:
#fit the model
logistic_regression_model.fit(training_features, training_targets)

LogisticRegression()

In [14]:
# Generate predictions from the model we just fit
predictions = logistic_regression_model.predict(training_features)

# Convert those predictions (and actual values) to a DataFrame
results_df = pd.DataFrame({"Prediction": predictions, "Actual": training_targets})
results_df

      Prediction  Actual
399            0       0
1308           0       0
504            0       0
312            0       0
178            1       1
...          ...     ...
677            1       1
991            0       0
469            0       0
1214           0       0
53             0       0

[993 rows x 2 columns]

In [15]:
# Apply the fitted model to the test dataset
testing_predictions = logistic_regression_model.predict(testing_features)

# Save both the test predictions and actual test values to a DataFrame
results_df = pd.DataFrame({
    "Testing Data Predictions": testing_predictions,
    "Testing Data Actual Targets": testing_targets})
results_df

      Testing Data Predictions  Testing Data Actual Targets
483                          0                            0
277                          1                            1
1303                         0                            0
1259                         0                            0
340                          0                            0
...                        ...                          ...
209                          1                            1
1208                         0                            0
31                           0                            0
1085                         0                            0
356                          0                            0

[331 rows x 2 columns]

In [16]:
# Import the accuracy_score function
from sklearn.metrics import accuracy_score

# Calculate the model's accuracy on the test dataset
accuracy_score(testing_targets, testing_predictions)

1.0